<h1>Home Page</h1>
<li>Welcome to the game. See if you can get the greatest number of correct</li>
<li> predictions of this week's premiership games.</li>
<li>It's 2 points for predicting correct winner (or draw) </li>
<li> and an extra 3 points for correct score </li>


<h1>What next</h1>

<li>From here you can use the links to access an existing user (No amending anyone else's, please) </li>
<li> or create a new users. This week's fixtures should be pready for you to predict. Have fun... </li>